absl-py==0.6.1
actionlib==1.11.13
angles==1.9.11
astor==0.7.1
backcall==0.1.0
base-local-planner==1.16.2
bleach==3.0.2
bondpy==1.8.3
camera-calibration==1.12.23
camera-calibration-parsers==1.11.13
catkin==0.7.17
certifi==2019.11.28
chardet==3.0.4
Click==7.0
configparser==4.0.2
console-progressbar==1.1.2
controller-manager==0.15.1
controller-manager-msgs==0.15.1
cv-bridge==1.13.0
cycler==0.10.0
decorator==4.3.0
defusedxml==0.5.0
diagnostic-analysis==1.9.3
diagnostic-common-diagnostics==1.9.3
diagnostic-updater==1.9.3
docker-pycreds==0.4.0
dynamic-reconfigure==1.6.0
entrypoints==0.2.3
gast==0.2.0
gazebo-plugins==2.8.4
gazebo-ros==2.8.4
gencpp==0.6.2
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.12
gennodejs==2.0.1
genpy==0.6.8
gitdb==4.0.2
GitPython==3.1.0
gql==0.2.0
graphql-core==1.1
grpcio==1.17.1
h5py==2.10.0
idna==2.9
image-geometry==1.13.0
interactive-markers==1.11.4
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.2
Jinja2==2.10
joblib==0.14.1
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
kdl-parser-py==1.13.1
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
laser-geometry==1.6.4
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==3.0.2
message-filters==1.14.3
mistune==0.8.4
nbconvert==5.4.0
nbformat==4.4.0
notebook==5.7.3
numpy==1.17.4
nvidia-ml-py3==7.352.0
opencv-python==4.0.0.21
pandas==0.25.3
pandocfilters==1.4.2
parso==0.3.1
pathtools==0.1.2
pexpect==4.6.0
pickleshare==0.7.5
Pillow==8.2.0
pkg-resources==0.0.0
prometheus-client==0.5.0
promise==2.3
prompt-toolkit==2.0.7
protobuf==3.6.1
psutil==5.7.0
ptyprocess==0.6.0
pydot==1.4.1
Pygments==2.3.1
pyparsing==2.3.0
python-dateutil==2.7.5
python-qt-binding==0.3.5
pytz==2019.3
PyYAML==3.13
pyzmq==17.1.2
qt-dotgraph==0.3.11
qt-gui==0.3.11
qt-gui-cpp==0.3.11
qt-gui-py-common==0.3.11
qtconsole==4.4.3
requests==2.23.0
resource-retriever==1.12.4
rosbag==1.14.3
rosboost-cfg==1.14.6
rosclean==1.14.6
roscreate==1.14.6
rosgraph==1.14.3
roslaunch==1.14.3
roslib==1.14.6
roslint==0.11.2
roslz4==1.14.3
rosmake==1.14.6
rosmaster==1.14.3
rosmsg==1.14.3
rosnode==1.14.3
rosparam==1.14.3
rospy==1.14.3
rosserial-python==0.8.0
rosservice==1.14.3
rostest==1.14.3
rostopic==1.14.3
rosunit==1.14.6
roswtf==1.14.3
rqt-action==0.4.9
rqt-bag==0.4.12
rqt-bag-plugins==0.4.12
rqt-console==0.4.8
rqt-dep==0.4.9
rqt-graph==0.4.10
rqt-gui==0.5.0
rqt-gui-py==0.5.0
rqt-image-view==0.4.13
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.9
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.5.0
rqt-py-console==0.4.8
rqt-reconfigure==0.4.10
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.8
rqt-robot-steering==0.5.9
rqt-runtime-monitor==0.5.7
rqt-rviz==0.6.0
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.6.0
rqt-top==0.4.8
rqt-topic==0.4.10
rqt-web==0.4.8
rviz==1.13.3
scikit-learn==0.22
scipy==1.2.0
Send2Trash==1.5.0
sensor-msgs==1.12.7
sentry-sdk==0.14.2
shortuuid==0.5.0
six==1.13.0
sklearn==0.0
smach==2.0.1
smach-ros==2.0.1
smclib==1.8.3
smmap==3.0.1
subprocess32==3.5.4
tensorboard==1.12.1
tensorflow-gpu==1.12.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
tf==1.12.0
tf-conversions==1.12.0
tf2-geometry-msgs==0.6.5
tf2-kdl==0.6.5
tf2-py==0.6.5
tf2-ros==0.6.5
topic-tools==1.14.3
tornado==5.1.1
traitlets==4.3.2
turtlebot3-example==1.2.0
turtlebot3-teleop==1.2.0
urdfdom-py==0.4.0
urllib3==1.25.8
watchdog==0.10.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
xacro==1.13.3
